@import "tailwindcss";
@plugin "daisyui";

h1, .judul {
  font-family: 'Playfair Display', serif;
}

body, p, a {
  font-family: 'Poppins', sans-serif;
}


@media (max-width: 768px) {
  .mobile-menu-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  .mobile-menu-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
  }
}

.card-hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(0) scale(1);
}
.card-hover:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #38a169 !important; /* warna hijau lebih cerah */
}

.car-hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(0) scale(1);
}
.car-hover:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #ffffff !important; /* warna hijau lebih cerah */
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.card-hover {
  transition: all 0.5s ease;
}
.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(16,185,129,.25);
}
